# Rust build artifacts

target/
Cargo.lock

# WASM-specific build outputs
pkg/
pkg-node/
pkg-web/
dist/
build/

# env
.env
.env.local

# OS-specific files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules
package-lock.json
